<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="createcard.css" />
    <title>DevCard</title>
  </head>
  <body>
    <div class="split-screen">
      <div class="left">
        <section class="copy">
          <h1>DevCard</h1>
          <p>Your personal digital portfolio</p>
        </section>
      </div>
      <div class="right">
        <form method="POST" action="/create">
          <section class="copy">
            <h2>Create your DevCard</h2>
          </section>
          <div class="input-container name">
            <input type="text" name="fname" placeholder="Your Full Name" />
          </div>
          <div class="input-container name">
            <input type="text" name="aboutMe" placeholder="About Me" />
          </div>
          <h2>Technologies You Know</h2>
          <div class="checkboxes">
            <label class="myLabel">
              <input type="checkbox" name="skills" value="HTML" />
              HTML
            </label>
            <label class="myLabel">
              <input type="checkbox" name="skills" value="CSS" />
              CSS
            </label>
            <label class="myLabel">
              <input type="checkbox" name="skills" value="JS" />
              JS
            </label>
            <label class="myLabel">
              <input type="checkbox" name="skills" value="Git" />
              Git
            </label>
            <label class="myLabel">
              <input type="checkbox" name="skills" value="React" />
              React
            </label>
            <label class="myLabel">
              <input type="checkbox" name="skills" value="NodeJS" />
              Node.JS
            </label>
          </div>
          <div class="input-container name">
            <input type="text" name="githubURL" placeholder="Github URL" />
          </div>
          <div class="input-container name">
            <input type="text" name="twitterURL" placeholder="Twitter URL" />
          </div>
          <div class="input-container name">
            <input
              type="text"
              name="favouriteBooks"
              placeholder="Favourite Books"
            />
          </div>

          <input class="signup-btn" type="submit" value="create site">
        </form>
      </div>
    </div>
  </body>
</html>